<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633617851946-nh6h3am87i8fodeojhapaec35oi1hps0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633617851946-nh6h3am87i8fodeojhapaec35oi1hps0</string>
	<key>API_KEY</key>
	<string>AIzaSyCklUDs-2dYxfvIi02098dXJlTqedMgTJo</string>
	<key>GCM_SENDER_ID</key>
	<string>633617851946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.syr.devika.MovieList</string>
	<key>PROJECT_ID</key>
	<string>movielist-3fcd2</string>
	<key>STORAGE_BUCKET</key>
	<string>movielist-3fcd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633617851946:ios:da1c14ec56621a996fc553</string>
</dict>
</plist>